/* styles.css */
/* styles.css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  overflow: hidden;
}

body {
  font-family: Arial, sans-serif;
  position: relative;
}

html::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('static/chinese-zodiac-snake.png') no-repeat center center fixed;
  background-size: cover;
  filter: brightness(10%); /* 背景变暗 */
  z-index: -1; /* 确保这个层在内容层下 */
}

#header {
  position: fixed;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  text-align: center;
}

#site-title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;  /* 增大字体 */
  color: white;
  margin-bottom: 15px;  /* 增大标题与输入框的间距 */
  font-weight: bold;  /* 设置加粗字体 */
}

#site-title .logo {
  width: 20px; /* 调整图标大小 */
  height: 20px;
  margin-right: 15px; /* 图标与标题之间的间距 */
  margin-left: 15px; /* 图标与标题之间的间距 */
}

#textInput {
  padding: 10px;
  font-size: 16px;
  border: 2px solid #fff;
  background-color: rgba(255, 255, 255, 0.7);
  color: #2b2b2b;
  border-radius: 5px;
  outline: none;
  transition: all 0.3s ease;
}

#textInput:focus {
  border-color: #ADD8E6;
  box-shadow: 0 0 8px 2px rgba(173, 216, 230, 0.7);
}

#container {
  position: relative;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

/* 引入自定义字体 */
@font-face {
  font-family: 'MyCustomFont'; /* 字体名称，可以随意命名 */
  src: url('static/font.ttf') format('truetype'); /* 字体文件路径 */
  font-weight: normal;
  font-style: normal;
}

.text {
  position: absolute;
  font-size: 24px;
  font-weight: bold;
  animation: fall 3s linear forwards;
  color: white; /* 默认颜色为白色，后续可以动态更改 */
  font-family: 'MyCustomFont'; /* 应用自定义字体 */
}

@keyframes fall {
  0% {
    transform: translateY(-100px);
    opacity: 1;
  }
  100% {
    transform: translateY(100vh);
    opacity: 0;
  }
}
/* 初始状态下彩蛋不可见 */
.easter-egg {
  position: absolute;
  top: 50%;  /* 居中 */
  left: 50%;
  transform: translate(-50%, -50%) scale(0);  /* 初始状态为透明且缩小 */
  font-size: 16px;
  color: white;
  opacity: 0;  /* 初始不可见 */
  pointer-events: none; /* 禁止交互 */
  transition: opacity 0.5s ease, transform 0.5s ease;
  font-family: "ZCOOL QingKe HuangYou", serif;
}
/* 触发时的样式 */
.easter-egg.visible {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
  pointer-events: auto; /* 允许交互 */
}

/* 动画结束后恢复初始状态 */
@keyframes hideEgg {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0);  /* 让其缩小并消失 */
  }
}

/* 版权信息样式 */
#copyright {
  position: fixed;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 14px;
  color: rgba(255, 255, 255, 0.7);
  text-align: center;
  z-index: 20;
}
