#presetContainer {
    display: flex;
    gap: 5px;
    /* 预置字符串之间的间距 */
    justify-content: center;
}

.presetText {
    padding: 3px 8px;
    font-size: 12px;
    color: white;
    background-color: #ff7b73;
    white-space: nowrap;   /* 防止换行 */
    display: inline-block; /* 确保它们在一行内显示 */
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.presetText:hover {
    background-color: #fab9b9;
    transform: scale(1.1);
}

.presetText:active {
    background-color: #343a40;
    transform: scale(0.95);
}